Repository RaedHassan97/networking-toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: API Routes, Frontend, Utilities

codecov.yaml:

codecov:
  require_ci_to_pass: no
  notify:
    wait_for_ci: no

coverage:
  precision: 2
  round: down
  range: "50...100"

  status:
    project:
      default:
        target: 60%
        threshold: 0%
        informational: true
        if_ci_failed: success
    patch:
      default:
        target: 50%
        threshold: 0%
        informational: true
        if_ci_failed: success

component_management:
  individual_components:
    - component_id: api
      name: API Routes
      paths:
        - src/routes/api/**/*

    - component_id: frontend
      name: Frontend
      paths:
        - src/routes/**/*.svelte
        - src/lib/components/**
        - src/styles/**

    - component_id: utils
      name: Utilities
      paths:
        - src/lib/utils/**

ignore:
  - "tests/**/*"
  - ".svelte-kit/**/*"
  - "build/**/*"
  - "playwright-report/**/*"
  - "coverage/**/*"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "src/app.html"
  - "**/*.d.ts"
  - "static/**/*"
  - ".github/**/*"

comment: false

flags:
  unittests:
    carryforward: true
    carryforward_mode: all

  api-tests:
    carryforward: true
    carryforward_mode: all

  e2e-tests:
    carryforward: true
    carryforward_mode: all

github_checks:
  annotations: true

Category-based homepage layout
  src/lib/components/furniture/SettingsMenu.svelte
  src/lib/components/global/ContextMenu.svelte
  src/lib/components/global/ToolCard.svelte
  src/lib/components/global/ToolsCarousel.svelte
  src/lib/components/global/ToolsGrid.svelte
  src/lib/components/home/HomepageCategories.svelte
  src/lib/components/home/HomepageDefault.svelte
  src/lib/components/home/HomepageMinimal.svelte
  src/lib/constants/icon-map.ts
  src/lib/stores/contextMenu.ts
  src/lib/stores/homepageLayout.ts
  src/lib/stores/toolUsage.ts
  src/routes/+page.svelte
  src/styles/variables.scss
Due: Frontend

Carasouel based homepage layout
  src/lib/components/global/ToolsCarousel.svelte
  src/lib/components/home/HomepageCarousel.svelte
  src/lib/constants/site.ts
  src/lib/stores/homepageLayout.ts
  src/routes/+page.svelte
Due: Frontend

Option to set bookmarks as homepage
  src/lib/components/home/HomepageBookmarks.svelte
  src/lib/components/home/HomepageCategories.svelte
  src/lib/stores/homepageLayout.ts
  src/routes/+page.svelte
  src/routes/bookmarks/+page.svelte
Due: Frontend

Implemented small icons homepage view
  src/lib/components/global/Icon.svelte
  src/lib/components/global/ToolCard.svelte
  src/lib/components/home/HomepageSmallIcons.svelte
  src/lib/stores/homepageLayout.ts
  src/lib/utils/tool-context-menu.ts
  src/routes/+page.svelte
Due: Frontend, Utilities

Implemented plain-text list homepage option
  src/lib/components/home/HomepageCategories.svelte
  src/lib/components/home/SiteMapList.svelte
  src/lib/stores/homepageLayout.ts
  src/routes/+page.svelte
  src/routes/sitemap/+page.svelte
Due: Frontend

Adds empty homepage option, and a search-based home option
  src/lib/components/furniture/SearchFilter.svelte
  src/lib/components/furniture/SettingsMenu.svelte
  src/lib/components/global/GlobalSearch.svelte
  src/lib/components/global/ToolCard.svelte
  src/lib/components/global/ToolsGrid.svelte
  src/lib/components/home/HomepageCategories.svelte
  src/lib/components/home/HomepageDefault.svelte
  src/lib/components/home/HomepageEmpty.svelte
  src/lib/components/home/HomepageMinimal.svelte
  src/lib/components/home/HomepageSearch.svelte
  src/lib/components/home/HomepageSmallIcons.svelte
  src/lib/composables/useToolSearch.svelte.ts
  src/lib/stores/homepageLayout.ts
  src/lib/utils/debounce.ts
  src/lib/utils/nav.ts
  src/routes/+page.svelte
  src/styles/variables.scss
Due: Frontend, Utilities

Improved home layouts, theme performance, and made about page more minimilistic
  src/app.html
  src/lib/components/home/HomepageCategories.svelte
  src/lib/components/home/HomepageMinimal.svelte
  src/lib/components/page-specific/about/AuthorSection.svelte
  src/lib/components/page-specific/about/BuildingSection.svelte
  src/lib/components/page-specific/about/LicenseSection.svelte
  src/lib/components/page-specific/about/SelfHostingSection.svelte
  src/lib/composables/useToolSearch.svelte.ts
  src/lib/stores/homepageLayout.ts
  src/lib/stores/navbarDisplay.ts
  src/lib/stores/theme.ts
  src/routes/about/(sections)/license/+page.svelte
  src/routes/about/+layout.svelte
  src/routes/about/+page.svelte
  src/styles/page-specific/about-page.scss
  src/styles/variables.scss
Due: Frontend

Fixed linting config, and added a script to hold my beer
  eslint.config.js
  package.json
Due: none

Search route, homepage featured
  src/lib/components/global/ToolCard.svelte
  src/lib/components/home/HomepageBookmarks.svelte
  src/lib/components/home/HomepageCategories.svelte
  src/lib/constants/icon-map.ts
  src/lib/constants/nav.ts
  src/lib/stores/toolUsage.ts
  src/routes/search/+page.svelte
Due: Frontend

Implemented quick tips
  src/lib/components/furniture/QuickTips.svelte
  src/lib/components/home/HomepageCategories.svelte
Due: Frontend

Build command pallete dialog for keyboard shortcuts
  src/lib/components/common/KeyboardShortcutChip.svelte
  src/lib/components/furniture/Header.svelte
  src/lib/components/furniture/SearchFilter.svelte
  src/lib/components/furniture/ShortcutsDialog.svelte
  src/lib/components/global/GlobalSearch.svelte
  src/lib/components/home/HomepageCategories.svelte
  src/lib/components/home/HomepageDefault.svelte
  src/lib/components/home/HomepageSearch.svelte
  src/lib/utils/keyboard.ts
  src/routes/+layout.svelte
  tests/unit/routes/api/internal/diagnostics/bgp/server.test.ts
Due: Frontend, Utilities

Performance improvments through lazy loading, memoization and pre-computing
  .github/workflows/report-tests.yml
  src/app.html
  src/lib/components/common/OfflineIndicator.svelte
  src/lib/components/furniture/BurgerMenu.svelte
  src/lib/components/furniture/SubHeader.svelte
  src/lib/components/furniture/TopNav.svelte
  src/lib/components/global/ToolsGrid.svelte
  src/lib/components/home/HomepageCategories.svelte
  src/lib/components/home/HomepageDefault.svelte
  src/lib/stores/bookmarks.ts
  src/lib/stores/homepageLayout.ts
  src/lib/stores/navbarDisplay.ts
  src/lib/stores/toolUsage.ts
  src/routes/+error.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/+page.ts
  src/routes/about/+layout.svelte
  src/routes/cidr/mask-converter/+layout.svelte
  src/routes/reference/+layout.svelte
Due: Frontend

Implemented re-branding option for self-hosted users
  .github/docs/app-customization.md
  .github/workflows/report-tests.yml
  src/lib/components/furniture/Header.svelte
  src/lib/components/page-specific/about/DeployingSection.svelte
  src/lib/config/customizable-settings.ts
  src/lib/constants/site.ts
  src/lib/stores/homepageLayout.ts
  src/lib/stores/navbarDisplay.ts
  src/lib/stores/theme.ts
  svelte.config.js
  tests/setup.ts
  vite.config.ts
Due: Frontend

Improved performance of global search
  src/lib/components/global/GlobalSearch.svelte
Due: Frontend

Adds unit tests nav changes, keyboard shortcuts, sotres and site preferences. Yes, I know i should of done tests before code. But yolo, at least i am writing tests at all.
  tests/unit/lib/constants/site.test.ts
  tests/unit/lib/stores/bookmarks.test.ts
  tests/unit/lib/stores/contextMenu.test.ts
  tests/unit/lib/stores/homepageLayout.test.ts
  tests/unit/lib/stores/navbarDisplay.test.ts
  tests/unit/lib/stores/theme.test.ts
  tests/unit/lib/stores/toolUsage.test.ts
  tests/unit/lib/stores/version.test.ts
  tests/unit/utils/debounce.test.ts
  tests/unit/utils/keyboard.test.ts
  tests/unit/utils/nav.test.ts
Due: none

Bumps to 1.2.0
  .github/CONTRIBUTING.md
  package.json
Due: none

Fix link to og-image
  src/lib/constants/site.ts
Due: none

Update README.md
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/deployment_issue.yml
  .github/ISSUE_TEMPLATE/question_feedback.yml
  .github/README.md
  .github/docs/api.md
  .github/docs/app-customization.md
  .github/docs/build-deployment.md
  .github/docs/developer-guide.md
  .github/docs/navigation-customization.md
  .github/docs/new-tools.md
  .github/docs/testing.md
  .github/docs/theming.md
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/mirror.yml
  .github/workflows/release.yml
  .github/workflows/report-tests.yml
  .github/workflows/tag.yml
  .github/workflows/tests.yml
  README.md
Due: none

Update README.md
  coustumier/networking-toolbox.zip
Due: none

Update README.md
  README.md
Due: none

Update README.md
  src/routes/diagnostics/email/greylist-tester/networking_toolbox_Swati.zip
Due: none
